<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8"/>

  <title>about</title>
</head>
<legend>О приложении</legend>
<p>

  Программное средство АРМ «Учет СВТ» предназначено для ведения статистического учета
  компьютерной техники и периферийных устройств в МЧС Республики Беларусь.

</p>

<p>

  Данные имеют древовидную структуру:

</p>
<img src="db.png" alt="database diagram(no details)">

<p>

  На странице отделения можно просмотреть все принадлежащее ему оборудование.
  Если отделение будет удалено, то вместе с ним удалится и оборудование.

</p>

<p>
  Можно перейти на страницу каждого СВТ или Периферийного устройства для просмотра всех данных.
  СВТ и ПУ срок эксплуатации которых закончился будут выделены красным цветом.

</p>

<p>
  При создании отделений и оборудования проводится валидация данных:

</p>
<img src="error.png" alt="validation error">

</html>