<div class="alert alert-info ">
  <h2>Редактирование параметров оборудования</h2>
</div>

<%= render 'form' %>

<%= link_to 'Просмотреть', station_device_path %> |
<%= link_to 'Назад', station_path(@station_id) %>
