<div class="alert alert-info ">
  <h2>Редактирование параметров модема</h2>
</div>

<%= render 'form' %>

<%= link_to 'Просмотр', station_modem_path %> |
<%= link_to 'Назад', station_path(@station_id) %>
