<footer class="footer">
  <small>
    Designed and coded by <a href="mailto:pavlovskes@gmail.com">Evgeny Pavlovsky</a>, Starovoitov Sergei.
    <nav>
      © 2013
    </nav>
  </small>
</footer>